*{
    margin: 0;
    word-wrap: break-word;
}
.divEstatic{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: grey;
    padding: 10px;
    text-align: center;
z-index: 999;

}

.LOGO_LOL {
    position: absolute;
    top: -30px;
    left: 150px;
    height: 175px;
    width: 325px;
}

.Champs_i_Lineas {
    position: relative;
    display: inline-block;
    top: 40px;
    left: -250px;
}

.BOTO_HOME{
    position: absolute;
    top: 50px;
    left: 580px;
    background-color: #333;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 150px;
    border-radius: 20px;
}

.BOTO_HOME a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
}

.BOTO_CHAMPS_LINEAS {
    position: absolute;
    left: 35px;
    top: -15px;
    background-color: #333;
    color: white;
    height: 50px;
    width: 150px;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.Contingut_Champs {
    display: none;
    position: absolute;
    left: 30px;
    top: 35px;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 20px;
}

.Contingut_Champs a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.Contingut_Champs a:hover {
    background-color: #555;
}

.Champs_i_Lineas:hover .Contingut_Champs {
    display: block;
}


.BOTO_ITEMS {
    position: absolute;
    left: 930px;
    top: 50px;
    background-color: #333;
    color: white;
    height: 50px;
    width: 150px;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.Contingut_Items {
    display: none;
    position: absolute;
    left: 925px;
    top: 100px;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-radius: 20px;
}

.Contingut_Items a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.Contingut_Items a:hover {
    background-color: #555;
}

.Items:hover .Contingut_Items {
    display: block;
}


.BOTO_MUNDIAL{
    position: absolute;
    top: 50px;
    left: 1105px;
    background-color: #333;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 168px;
    border-radius: 20px;
}

.BOTO_MUNDIAL a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
}

.BOTO_LORE{
    position: absolute;
    top: 50px;
    left: 1300px;
    background-color: #333;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 150px;
    border-radius: 20px;
}

.BOTO_LORE a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
}

.div_CONTACTE{
    position: absolute;
    left: 1500px;
    top: 47px;
    height: 55px;
    width: 350px;
    background-color: #333;
    border-radius: 20px;
}

.CONTACTE{
    color: white;
    font-size: 10px;
}

#Foto_Correu{
    position: absolute;
    top: 2px;
    left: 10px;
    height: 50px;
    width: 50px;
}

/* DE AQUI PA ARRIBA ES LA PARTE ESTATICA (MENU, FOTO, DIV ESTATICO)*/

/* TODO LO DEL BAKCGROUND A PARTIR DE AQUI */
.background{
    width: 100%;
    height: 10000px;
    background-color: antiquewhite;
    margin: 0;
}

.Titulo{
    position: absolute;
    top: 400px;
    left: 300px;
    font-size: 70px;
    height: 100px;
    width: 370px;
    color: #3b3b3b;
}

/* AIXO ES EL MENU DE FOTOS */
img {
    max-width: 100%;
}

.slider-container{
    position: absolute;
    top: 260px;
    left: 1000px;
    height: 700px;
    width: 800px;
    overflow: hidden; 
    text-align: center;
    background-color: antiquewhite;
}

.menu { /*Circulos cambio manual */
    position: absolute;
    left: 200px;
    z-index: 900;
    width: 300px;
    bottom: 0;
}

.menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #743a3a;
    border-radius: 50px;
    margin: 0 .2em 1em;
    &:hover {
        background: red;
    }
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s .75s;
}
#slide-dot-1{
    visibility: hidden;
}
#slide-dot-2{
    visibility: hidden;
}
#slide-dot-3{
    visibility: hidden;
}
[id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
}

.lol_foto{
    position: absolute;
    top: 60px;
    left: 0px;
    height: 500px;
    width: 700px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.fondo_foto_lol{
    position: absolute;
    background-color: #5b8dfc;
    top: 0px;
    left: 0px;
    height: 600px;
    width: 700px;
    border-radius: 60% 40% 40% 60% / 60% 60% 40% 40%;
}

.fondo_foto_lol2{
    position: absolute;
    background-color: #5dcdff;
    top: 0px;
    left: 0px;
    height: 650px;
    width: 750px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
/*FINS AQUI TOT LO DEL MENU DE FOTOS */

/*AIXO ES LA INFO DEL LOL*/
.div_Explicacion_LOL{
    position: absolute;
    top: 1000px;
    left: 0px;
    width: 100%;
    height: 500px;
    background-color: pink;
    border-radius: 100px;
}

#Titul_LOL{
    text-align: center;
    font-size: 40px;
    color:  black;
    position: absolute;
    left: 790px;
    top: 20px;
}

#Explicacion{
    text-align: center;
    font-size: 20px;
    color: black;
    position: absolute;
    left: 310px;
    top: 85px;
}

#LOL{
position: absolute;
left: 0px;
}

#FOTO_LOL_EXPLICACIO{
    position: absolute;
    top: 200px;
    left: 200px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#TITUL_EXPLICAIO_LOL{
    height: 100px;
    width: 250px;
    position: absolute;
    top: 230px;
    left: 420px;
    font-size: 23px;
}

#INFO_ECPLICAIO_LOL{
    height: 100px;
    width: 250px;
    position: absolute;
    top: 290px;
    left: 420px;
    text-align: justify;
}

#PAGINA_LOL{
    position: absolute;
    top: 350px;
    left: 205px;
    background-color: #333;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 70px;
    width: 190px;
    border-radius: 20px;
}

#TFT{
    position: absolute;
    left: 570px;
}

#FOTO_TFT_EXPLICACIO{
    position: absolute;
    top: 200px;
    left: 200px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#TITUL_EXPLICACIO_TFT{
    height: 100px;
    width: 250px;
    position: absolute;
    top: 230px;
    left: 420px;
    font-size: 23px;
}

#INFO_ECPLICACIO_TFT{
    height: 100px;
    width: 250px;
    position: absolute;
    top: 290px;
    left: 420px;
    text-align: justify;
}

#LOR{
    position: absolute;
    left: 1140px;
}

#FOTO_LOR_EXPLICACIO{
    position: absolute;
    top: 200px;
    left: 200px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#TITUL_EXPLICACIO_LOR{
    height: 100px;
    width: 250px;
    position: absolute;
    top: 230px;
    left: 420px;
    font-size: 23px;
}

#INFO_EXPLICACIO_LOR{
    height: 100px;
    width: 250px;
    position: absolute;
    top: 290px;
    left: 420px;
    text-align: justify;
}