.divEstatic{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: grey;
    padding: 10px;
    text-align: center;


}

.LOGO_LOL {
    position: absolute;
    top: -30px;
    left: 200px;
    height: 175px;
    width: 325px;
}

.MenuDesplegable{
position: absolute;
top: 100px;
left: 100px;
width: 100px;
height: 100px;
}



.background{
    width: 100%;
    height: 10000px;
}