body{
    background-color: antiquewhite;
}
p{
    word-wrap: break-word;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
*{
    margin: 0;
}
/*INICIO DIV IMG LINIA - DESCRICPCION LINIA*/
.sector_linia{
    position: absolute;
    top: 140px;
    height: 1300px;
    width: 100%;
    left: 0px;
}
#img_linia img{
    position: absolute;
    left: 100px;
    top: 150px;
    border-radius: 20px;
    height: 500px;
}
#info_adc{
    position: absolute;
    top: 350px;
    left: 700px;
}
/*FINAL DIV IMG LINIA - DESCRIPCION LINIA*/
/*INICIO FOTOS CHAMP Y DESCRIPCION*/
.text text-1{
    position: absolute;
    top: 730px;
    left: 100px;
    height: 300px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#descripcion_champ{
    position: absolute;
    top: 900px;
    background-color: #555;
    opacity: .2;
}
/*INICIO CARRUSEL FOTOS*/
img {
    max-width: 100%;
}
.slider-container{
    position: absolute;
    top: 800px;
    left: 500px;
    height: 900px;
    width: 900px;
    overflow: hidden; 
    text-align: center;
    background-color: antiquewhite;
}
.menu { /*Circulos cambio manual */
    position: absolute;
    top: 680px;
    left: 300px;
    z-index: 900;
    width: 300px;
    bottom: 0;
}
.menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #743a3a;
    border-radius: 50px;
    margin: 0 .2em 1em;
    &:hover {
        background: red;
    }
}
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s .75s;
}
#slide-dot-1{
    visibility: hidden;
}
#slide-dot-2{
    visibility: hidden;
}
#slide-dot-3{
    visibility: hidden;
}
[id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
}
/*FINAL CARRUSEL FOTOS*/
/*FINAL FOTOS CHAMPS Y DESCRIPCION*/
/*INICIO MARCO MENÚS*/
.divEstatic{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: grey;
    padding: 10px;
    text-align: center;
    z-index: 999;
}
.LOGO_LOL {
    position: absolute;
    top: -30px;
    left: 150px;
    height: 175px;
    width: 325px;
}
.Champs_i_Lineas {
    position: relative;
    display: inline-block;
    top: 40px;
    left: -250px;
}
.BOTO_HOME{
    position: absolute;
    top: 50px;
    left: 580px;
    background-color: #333;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 150px;
    border-radius: 20px;
}
.BOTO_HOME a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
}
.BOTO_CHAMPS_LINEAS {
    position: absolute;
    left: 35px;
    top: -15px;
    background-color: #333;
    color: white;
    height: 50px;
    width: 150px;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
.Contingut_Champs {
    display: none;
    position: absolute;
    left: 30px;
    top: 35px;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 20px;
}
.Contingut_Champs a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.Contingut_Champs a:hover {
    background-color: #555;
}
.Champs_i_Lineas:hover .Contingut_Champs {
    display: block;
}
.BOTO_ITEMS {
    position: absolute;
    left: 930px;
    top: 50px;
    background-color: #333;
    color: white;
    height: 50px;
    width: 150px;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
.Contingut_Items {
    display: none;
    position: absolute;
    left: 925px;
    top: 100px;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-radius: 20px;
}
.Contingut_Items a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.Contingut_Items a:hover {
    background-color: #555;
}
.Items:hover .Contingut_Items {
    display: block;
}
.BOTO_MUNDIAL{
    position: absolute;
    top: 50px;
    left: 1105px;
    background-color: #333;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 168px;
    border-radius: 20px;
}
.BOTO_MUNDIAL a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
}
.BOTO_LORE{
    position: absolute;
    top: 50px;
    left: 1300px;
    background-color: #333;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 150px;
    border-radius: 20px;
}
.BOTO_LORE a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
}
.div_CONTACTE{
    position: absolute;
    left: 1500px;
    top: 47px;
    height: 55px;
    width: 350px;
    background-color: #333;
    border-radius: 20px;
}
.CONTACTE{
    color: white;
    font-size: 10px;
}
#Foto_Correu{
    position: absolute;
    top: 2px;
    left: 10px;
    height: 50px;
    width: 50px;
}
/*FINAL MARCO MENÚS*/